.pc-only{
    display: none !important;
}

header{
    height: 100vh;
}

#main-header{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: relative;
}

#gnb {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gnb > ul {
    width: 100%;
    background: rgba(255, 255, 255, 0.9); 
    position: absolute;
    top: 80px;
    z-index: 99;
    display: none;
}

#gnb > ul.on{
    display: block;
}

#gnb > ul > li{
    text-align: left;
    display: block;
    width: 100vw;
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
}

#gnb > ul > li > a{
    color: #000;
    font-size: 20px;
}

#gnb > a{
    position: absolute;
    right: 10px;
}


#main-header .swiper{
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper .swiper-slide.s1{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-visual01.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s2{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-visual02.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s3{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-visual03.jpg);
}

.swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide .title{
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.swiper .swiper-wrapper .swiper-slide .title span {
    margin-top: 24.5px;
    font-size: 30px;
}

.swiper-pagination-bullet {
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.75);
  width: 15px !important;
  height: 15px !important;
  background-color: transparent;
  opacity: 1;
  margin-bottom: 75px !important;
}

.swiper-pagination-bullet:not(:last-child){
    margin-right: 50px !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1;
  }

#about{
    width: 100%;
    height: 500px;
    text-align: right;
    display: flex;
    align-items:center;
    justify-content: left;
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-position-x: 60%;
}

#about > img{
    display: none;
}

#about h2{    
    font-size: 22px;
    margin-bottom: 10px;
}

#about p{
    font-size: 12px;
}


#banner{
    margin-top: 38px;
    margin-bottom: 38px;
    width: 100%;
    height: 130px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .title{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#banner .title > p{
    font-size: 15px;
    font-weight: 400;
}

#banner .title > h3{
    font-size: 22px;
    font-weight: 500;
}

#banner .title > a{
    display: block;
    font-size: 12px;
    font-weight: 500;
    width: 115px;
    height: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    line-height: 30px;
    color: #fff;
    margin-top: 10px;
}

#sns{
    width: 100%;
    height: 759px;
    padding-top: 20px;
}

main section .title{
    display: flex;
    font-size: 28px;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
}

main section .title .line{
    width: 80px;
    height: 2px;
    background: #666;
    margin-top: 15px;
}

#sns .sns-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sns .sns-container img{
    width: 90px;
    height: 83px;
}

#sns .sns-container > .images{
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#sns .sns-container > .images > li:nth-child(3){
    margin-left: 20px;
    margin-right: 20px;
}

#sns .sns-container > .images > li:first-child img{
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
}

#sns .sns-container > a > img{
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#sns .sns-container .text-box{
    text-align: center;
    position: relative;
}

#sns .sns-container .text-box > h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

#sns .sns-container .text-box > p{
    font-size: 13px;
    font-weight: 400;
}

#sns .sns-container .text-box > a{
    position: absolute;
    color: #333;
    font-size: 10px;
    right: -17px;
    bottom: -30px;
    display: block;
    background: #ECD6D5;
    padding: 5px;
    border-radius: 10px;
}

#sns .sns-container .text-box > a > img{
    width: 5px;
    height: 8.77px;
    margin-left: 5px;
}

#news{
    width: 100%;
    height: 621px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#news .title{
    order: 1;
}

#news .plus_icon{
    order: 3;
}

#news .info-container{
    order: 2;
}


#news .info-container{
    margin-top: 30px;
    width: 390px;
    order: 2;
}

#news .info-container .info-box{
    width: 186px;
    height: 186px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

#news .info-container .info-box:nth-child(1){
    background-image: url(../images/news01.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

#news .info-container .info-box:nth-child(2){
    background-image: url(../images/news02.jpg);
    background-position: center;
    background-size: cover;
}


#news .info-container .info-box:nth-child(3){
    background-image: url(../images/news03.jpg);
    background-position: center;
    background-size: cover;
}


#news .info-container .info-box:nth-child(4){
    background-image: url(../images/news04.jpg);
    background-position: center;
    background-size: cover;
}


#news .info-container .info-box .text{
    background: rgba(255, 255, 255, 0.9);
    width: 186px;
    height: 186px;
    position: absolute;
    top: 133px;
}

#news .info-container .info-box .text > h3{
    display: flex;
    width: 186px;
    height: 53px;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#news .info-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#news .plus_icon {
    margin-top: 25px;
}

#news .plus_icon > img{
    width: 25px;
    height: 25px;
}

#media{
    padding-top: 20px;
    width: 100%;
    height: 676px;
}

#media .media-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#media .media-box{
    width: 100%;
    height: 142.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#media .media-box > a{
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
}

#media .media-box:nth-child(1){
    background-image: url(../images/media01.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(2){
    background-image: url(../images/media02.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(3){
    background-image: url(../images/media03.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(4){
    background-image: url(../images/media04.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box .media-title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#media .media-box .media-title > h3{
    font-size: 30px;
    font-weight: 600;
}

#media .media-box .media-title > P{
    font-size: 22px;
    font-weight: 500;
}

#main-footer{
    width: 100%;
    height: 252px;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#main-footer .footer-logo{
    margin-top: 15px;
    margin-bottom: 15px;
    order: 1;
}

#main-footer .text{
    text-align: center;
    order: 3;
}

#main-footer .text p{
    font-size: 12px;
    font-weight: 400;
}

#main-footer .text .copy{
    font-size: 10px;
    margin-top: 8px;
}

#main-footer .sns{
    order: 0;
    display: flex;
}

#main-footer .sns li:not(:last-child){
    margin-right: 10px;
}

#main-footer .mark li:not(:last-child){
    margin-right: 20px;
}