.pc-only{
    display: none !important;
}

#main-header{
    width: 100%;
    background: #fff;
    position: relative;
}


#gnb {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gnb > ul {
    width: 100%;
    height: calc(100vh - 80px);
    background: rgba(255, 255, 255, 0.9);    
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 99;
}

#gnb > ul > li:not(:last-child){
    margin-bottom: 25px;
}


#gnb > ul > li > a{
    color: #000;
    font-size: 20px;
}

#gnb > a{
    position: absolute;
    right: 10px;
}

#main-header .swiper{
    width: 100%;
    height: calc(100vh - 80px);    
    position: relative;
}

.swiper .swiper-wrapper .swiper-slide.s1{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-visual01.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s2{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-visual02.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s3{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-visual03.jpg);
}

.swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide .title{
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.swiper .swiper-wrapper .swiper-slide .title span {
    margin-top: 24.5px;
    font-size: 30px;
}


.swiper-pagination-bullet {
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.75);
  width: 20px;
  height: 20px;
  background-color: transparent;
  opacity: 1;
  margin-bottom: 75px !important;
}

.swiper-pagination-bullet:not(:last-child){
    margin-right: 50px !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1;
  }

#about{
    width: 1440px;
    height: 908px;
    margin: 0 auto;
    position: relative;
}

#about > img{
    position: absolute;
    top: 130px;
    right: 136.35px;
}


#about > h2{
    position: absolute;
    left: 215px;
    top: 329px;
    text-align: right;
    font-size: 60px;
    font-weight: 500;
}

#about > p{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 134px;
    top: 553px;
    text-align: right;
}

#banner{
    height: 330px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .title{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#banner .title > p{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
}

#banner .title > h3{
    font-size: 60px;
    font-weight: 500;
}

#banner .title > a{
    display: block;
    font-size: 24px;
    font-weight: 500;
    width: 220px;
    height: 65px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    line-height: 65px;
    color: #fff;
    margin-top: 15px;
}

#sns{
    width: 1440px;
    height: 970px;
    margin: 0 auto;
    padding-top: 162px;
}

main section .title{
    display: flex;
    font-size: 42px;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
}

main section .title .line{
    width: 140px;
    height: 2px;
    background: #333;
    margin-top: 30px;
}

#sns .sns-container{
    margin-top: 50px;
}

#sns .sns-container > img{
    width: 504px;
    height: 504px;
    margin-right: 96px;
}

#sns .sns-container .text-box{
    margin-top: 32px;
    position: relative;
}

#sns .sns-container .text-box > h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 35px;
}

#sns .sns-container .text-box > p{
    font-size: 18px;
    font-weight: 400;
}

#sns .sns-container .text-box > a{
    color: #333;
    display: flex;
    position: absolute;
    top: 254px;
    left: 446px;
}

#sns .sns-container .text-box > a img{
    margin-left: 5px;
}

#sns .sns-container{
    display: flex;
}

#sns .sns-container .sns-sub .sub-img{
    margin-top: 54px;
    display: flex;
    align-items: center;
}

#sns .sns-container .sns-sub .sub-img li:not(:last-child){
    margin-right: 30px;
}

#sns .sns-container .sns-sub .sub-img li:last-child{
    margin-left: 48px;
}

#news{
    width: 1440px;
    margin: 0 auto;
    height: 725px;
    position: relative;
}

#news .plus_icon{
    position: absolute;
    top: 70px;
    right: 0;
}

#news .info-container{
    margin-top: 50px;
}

#news .info-container .info-box{
    width: 330px;
    height: 330px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

#news .info-container .info-box:nth-child(1){
    background-image: url(../images/news01.jpg);
}

#news .info-container .info-box:nth-child(2){
    background-image: url(../images/news02.jpg);
}


#news .info-container .info-box:nth-child(3){
    background-image: url(../images/news03.jpg);
}


#news .info-container .info-box:nth-child(4){
    background-image: url(../images/news04.jpg);
}


#news .info-container .info-box .text{
    background: rgba(255, 255, 255, 0.9);
    width: 330px;
    height: 330px;
    position: absolute;
    top: 236px;
    transition: all 0.3s;
}

#news .info-container .info-box .text > h3{
    display: flex;
    width: 330px;
    height: 94px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#news .info-container .info-box .text p{
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 15px;
    width: 294px;
    text-align: center;
}

#news .info-box .text-box{
    position: relative;
    width: 330px;
    height: 236px;
}

#more{
    background: transparent;
    border: none;
    margin-top: 15px;
    position: absolute;
    bottom: 20px;
    right: 18px;
}

#news .info-container{
    display: flex;
    justify-content: space-between;
}

#media{
    width: 1440px;
    margin: 0 auto;
}

#media .title{
    margin-bottom: 50px;
}

#media .media-box{
    width: 360px;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#media .media-box > a{
    color: #fff;
    text-align: center;
}

#media .media-container{
    display: flex;
}

#media .media-box:nth-child(1){
    background-image: url(../images/media01.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(2){
    background-image: url(../images/media02.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(3){
    background-image: url(../images/media03.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(4){
    background-image: url(../images/media04.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box .media-title > h3{
    font-size: 38px;
    font-weight: 600;
}

#media .media-box .media-title > P{
    font-size: 30px;
    font-weight: 500;
}

#main-footer{
    height: 155px;
    background: #333;
    color: #fff;
    justify-content: left;
    align-items: center;
    position: relative;
}

#main-footer .footer-logo{
    position: absolute;
    top: 50px;
    left: 15px;
}

#main-footer .text{
    position: absolute;
    top: 20px;
    left: 168px;
}



#main-footer .text .footer-menu{
    display: flex;
    margin-bottom: 20px;
}

#main-footer .text .footer-menu li a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#main-footer .text .footer-menu li span{
    margin: 0 20px;
    font-size: 14px;
}

#main-footer .text p{
    font-size: 14px;
    font-weight: 400;
}

#main-footer .text .copy{
    margin-top: 10px;
}

#main-footer .footer-right{
display: flex;
position: absolute;
top: 20px;
right: 15px;
}

#main-footer .sns{
    display: flex;
    margin-right: 50px;
}

#main-footer .sns li:not(:last-child){
    margin-right: 10px;
}

#family-link{
    width: 200px;
    height: 30px;
}

#main-footer .mark{
    display: flex;
    position: absolute;
    top: 67px;
    right: 15px;
    align-items: center;
}

#main-footer .mark li:not(:last-child){
    margin-right: 20px;
}